/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

#footer {
  position: relative;
  margin-top: 50px;
  width: 100%;
  background: linear-gradient(to bottom, #3586ff, #0e3755ff);
  min-height: 100px;
  padding: 30px 10%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer-col {
    width: 25%;
    padding: 20px 15px;
  }
  .footer-col h4 {
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    bottom: -10px;
    background-color: #0e3755ff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ebdecfff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ebdecfff;
    padding-left: 4px;
  }

  /*  iconos  */
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    padding: 11px 0;
    border-radius: 50%;
    color: #ebdecfff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
      text-align: center;
    }
    .footer-col h4 {
      margin-bottom: 20px;
    }
    .footer-col h4::before {
      height: 0;
    }
  }

  /*  olas  */
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }

  .wave#wave1 {
    z-index: 10;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 18s linear infinite;
  }

  .wave#wave2 {
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 18s linear infinite;
  }

  .wave#wave3 {
    z-index: 10;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 14s linear infinite;
  }

  .wave#wave4 {
    z-index: 9;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 14s linear infinite;
  }
}
@keyframes animateWaves {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animate {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}


/*------------------------------------*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1292 {
    padding: var(--sectionPadding);
    padding-bottom: 1.25rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 10;
    /* Navigation Links */
  }
  #cs-footer-1292 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 2.25rem;
  }
  #cs-footer-1292 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer-1292 .cs-logo {
    width: 12.3125rem;
    height: auto;
    display: block;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
  }
  #cs-footer-1292 .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer-1292 .cs-logo-img.dark {
    display: none;
  }
  #cs-footer-1292 .cs-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    /* 20px - 36px */
    margin: 0 0 clamp(1.25rem, 3vw, 2.25rem);
    width: 78%;
    max-width: 15rem;
    color: var(--bodyTextColor);
  }
  #cs-footer-1292 .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    transition: color 0.3s;
  }
  #cs-footer-1292 .cs-link:hover {
    color: var(--primary);
  }
  #cs-footer-1292 .cs-nav {
    width: 45%;
    max-width: 11.25rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  #cs-footer-1292 .cs-nav-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #cs-footer-1292 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    position: relative;
    display: block;
  }
  #cs-footer-1292 .cs-nav-link {
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1.5em;
    width: auto;
    color: var(--bodyTextColor);
    position: relative;
    display: inline-block;
    transition: color 0.3s;
  }
  #cs-footer-1292 .cs-nav-link:before {
    /* underline */
    content: "";
    width: 0%;
    height: 0.125rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-footer-1292 .cs-nav-link:hover {
    color: var(--primary);
  }
  #cs-footer-1292 .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer-1292 .cs-bottom {
    max-width: 80rem;
    margin: auto;
    /* 48px - 100px */
    margin-top: clamp(3rem, 9vw, 6.25rem);
    /* 20px - 32px */
    padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2.25rem;
    row-gap: 0.75rem;
  }
  #cs-footer-1292 .cs-copyright,
  #cs-footer-1292 .cs-copyright-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #cs-footer-1292 .cs-copyright {
    text-align: center;
    width: 100%;
  }
  #cs-footer-1292 .cs-copyright-link {
    text-decoration: none;
    transition: color 0.3s;
  }
  #cs-footer-1292 .cs-copyright-link:hover {
    color: var(--secondary);
  }
  #cs-footer-1292 .cs-floater {
    width: 31.625rem;
    height: 31.625rem;
    margin-left: 34.375rem;
    border-radius: 50%;
    border: 2px solid var(--primary);
    opacity: 0.1;
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
  }
  #cs-footer-1292 .cs-floater:before {
    content: "";
    width: 44.6875rem;
    height: 44.6875rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #cs-footer-1292 .cs-floater:after {
    content: "";
    width: 60.1875rem;
    height: 60.1875rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-1292 .cs-container {
    row-gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 5.5rem;
    row-gap: 2.5rem;
  }
  #cs-footer-1292 .cs-nav {
    width: auto;
  }
  #cs-footer-1292 .cs-bottom {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  #cs-footer-1292 .cs-copyright {
    text-align: left;
    width: auto;
    margin-right: auto;
  }
  #cs-footer-1292 .cs-floater {
    display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1292 .cs-container {
    max-width: 80rem;
    flex-wrap: nowrap;
    /* align everything to the right */
    justify-content: flex-end;
    column-gap: clamp(2.5rem, 6vw, 5.25rem);
  }
  #cs-footer-1292 .cs-logo-group {
    width: 30%;
    max-width: 24.1875rem;
    /* pushes away from everything to the right */
    margin-right: auto;
  }
  #cs-footer-1292 .cs-text {
    width: 100%;
  }
  #cs-footer-1292 .cs-graphic {
    display: block;
  }
}
