/* Resetear márgenes y padding para todos los elementos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Normalizar estilos para elementos HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

/* Establecer estilos básicos para el cuerpo del documento */
body {
	line-height: 1.6;
}

/* Normalizar estilos para elementos de lista */
ul,
ol {
	list-style: none;
}

/* Normalizar estilos para el hipervínculo */
a {
	text-decoration: none;
	color: inherit;
}

/* Establecer estilos básicos para los encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* Normalizar estilos para elementos de formulario */
button,
input,
select,
textarea {
	margin: 0;
}

/* Evitar cambios no deseados en la apariencia y estilo de los controles en algunos navegadores */
button,
input {
	overflow: visible;
}

/* Corregir el estilo del cursor para botones en Firefox */
button,
select {
	text-transform: none;
}

/* Restablecer la apariencia de campo de búsqueda en Safari y Chrome */
input[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/* Restablecer el estilo por defecto de selección */
select {
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* Restablecer el estilo por defecto de la tabla */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
