.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.13);
  /*background: url(../img/hero.jpg) no-repeat center;*/
}

.content {
  text-align: left;
}

.content h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  span{
    transition: color 1s, font-size 0.5s;
  }
}

.content h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.content p {
  font-size: 1.1em;
  color: #fff;
  margin: 30px 0;
  font-weight: 400;
  max-width: 700px;
}

.content h2 span:hover {
  color: transparent; /* Inicialmente texto transparente */
  -webkit-text-stroke: 4px #fff; /* Contorno */
  font-size: 1.2em;
}

.content a {
  display: inline-block;
  font-size: 1em;
  background: #ffc164ff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  color: #111;
  transition: 0.2s;
}

.content a:hover {
  background: #a5a5a5;
  color: #0e3755ff;
}

#video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

@media (min-aspect-ratio: 16/9) {
  #video-background {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-background {
    width: auto;
    height: 100%;
  }
  .content h2 {
    font-size: 4em;
  }
  
  .content h3 {
    font-size: 3em;
  }
}
@media (max-width: 768px) {
  .content h2 {
    font-size: 2.5em;
  }
  
  .content h3 {
    font-size: 1.5em;
  }
}