.speakers-section {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  background: #eee;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  position: relative;
  margin: 24px;
  width: 320px;
  height: 570px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(24, 83, 122, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}

.event-info {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.title {
  color: #18537a;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.info {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 8px;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #17537a;
  margin: 0 auto 16px;
}

.description {
  color: #777;
  font-size: 0.9em;
  line-height: 1.5;
}

.action {
  display: block;
  color: #fff;
  background-color: #18537a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action:hover {
  background-color: #143653;
}

@media (max-width: 768px) {
  .item-container {
    width: calc(
      50% - 30px
    ); /* Ajustar el ancho de los items en dispositivos más pequeños */
  }
}

@media (max-width: 480px) {
  .item-container {
    width: calc(
      100% - 20px
    ); /* Ajustar el ancho de los items en dispositivos aún más pequeños */
  }
}

.section-intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro-title {
  font-size: 38px;
  color: #18537a;
  font-weight: bold;
  margin-bottom: 16px;
}

.intro-paragraph {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px; /* Aplica una sangría de 20px en ambos lados */
}
