/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-572 {
        /* 60px - 130px */
        padding: clamp(3.75rem, 8vw, 8.125rem) 1rem;
        background-color: var(--secondary);
    }
    #logos-572 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #logos-572 .cs-logo {
        width: auto;
        max-width: 90%;
        height: auto;
        margin: 0;
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #logos-572 .cs-container {
        justify-content: space-between;
    }
    #logos-572 .cs-logo {
        width: 20%;
        /* the max width becomes whatever the actual width of the image is */
        max-width: max-content;
        height: auto;
        display: block;
    }
}

                                