* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar styles */

.navigationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  color: white;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ead24c;
}

.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.parent {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.link:hover {
  color: #ea4f4c;
}

@media screen and (max-width: 768px) {
  .navigationWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .logoWrapper {
    margin-bottom: 20px;
  }

  .navigation {
    flex-direction: column;
  }

  .parent {
    padding: 10px 0;
  }
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .navbar {
    width: auto;
    right: 20px; /* Ajusta la posición para evitar solapamiento */
    padding: 20px;
    top: 50px;
    left: 0px;
  }
  .logo {
    top: 20px;
    left: 40px;
  }
}

/* Landing section styles */
#landing-section {
  .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
  }

  .showcase.active {
    right: 300px;
  }

  .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #101f20a6;
    mix-blend-mode: overlay;
  }

  .text {
    position: relative;
    z-index: 10;

    h2 {
      font-size: 5em;
      font-weight: 800;
      color: #fff;
      line-height: 2.5em;
      text-transform: uppercase;
    }
  }

  .text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  .text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  .text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
  }

  .text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #111;
    transition: 0.2s;
  }

  .text a:hover {
    background: #a5a5a5;
    color: #0e3755ff;
  }

  @media (max-width: 991px) {
    .showcase,
    .showcase header {
      padding: 40px;
    }

    .text h2 {
      font-size: 3em;
    }

    .text h3 {
      font-size: 2em;
    }
  }
}

/* Cartas */
#cards {
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }

  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards_item {
    display: flex;
    padding: 1rem;
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  }

  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }

  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }

  .made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }
}

/* About Section styles */

#about-section {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  section {
    padding: 60px 0;
    /* min-height: 100vh;*/
  }

  .sec-title {
    position: relative;
    margin-bottom: 60px;
  }

  .sec-title .title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ff2222;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
    padding-bottom: 18px;
  }

  .sec-title h2:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 3px;
    background-color: #d1d2d6;
  }

  .sec-title .text {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
  }

  .sec-title.light h2 {
    color: #ffffff;
  }

  .sec-title.text-center h2:before {
    left: 50%;
    margin-left: -25px;
  }

  .list-style-one {
    position: relative;
  }

  .list-style-one li {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #222222;
    font-weight: 400;
    padding-left: 35px;
    margin-bottom: 12px;
  }

  .list-style-one li:before {
    content: "\f058";
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    font-size: 18px;
    padding: 0px;
    color: #ff2222;
    font-weight: 600;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.6;
    font-family: "Font Awesome 5 Free";
  }

  .list-style-one li a:hover {
    color: #44bce2;
  }

  .btn-style-one {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    background-color: #ff2222;
  }

  .btn-style-one:hover {
    background-color: #001e57;
    color: #ffffff;
  }
  .about-section {
    position: relative;
    padding: 120px 0 70px;
  }

  .about-section .sec-title {
    margin-bottom: 45px;
  }

  .about-section .content-column {
    position: relative;
    margin-bottom: 50px;
  }

  .about-section .content-column .inner-column {
    position: relative;
    padding-left: 30px;
  }

  .about-section .text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
  }

  .about-section .list-style-one {
    margin-bottom: 45px;
  }

  .about-section .btn-box {
    position: relative;
  }

  .about-section .btn-box a {
    padding: 15px 50px;
  }

  .about-section .image-column {
    position: relative;
  }

  .about-section .image-column .text-layer {
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
  }

  .about-section .image-column .inner-column {
    position: relative;
    padding-left: 120px;
    padding-bottom: 125px;
  }

  .about-section .image-column .inner-column:before {
    position: absolute;
    left: -75px;
    top: 65px;
    height: 520px;
    width: 520px;
    background-image: url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
    content: "";
  }

  .about-section .image-column .image-1 {
    position: relative;
  }

  .about-section .image-column .image-2 {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .about-section .image-column .image-2 img,
  .about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
  }

  .about-section .image-column .video-link {
    position: absolute;
    left: 70px;
    top: 170px;
  }

  .about-section .image-column .video-link .link {
    position: relative;
    display: block;
    font-size: 22px;
    color: #191e34;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }

  .about-section .image-column .video-link .link:hover {
    background-color: #191e34;
    color: #ffffff;
  }
}

#footer {
  position: relative;
  margin-top: 50px;
  width: 100%;
  background: linear-gradient(to bottom, #3586ff, #0e3755ff);
  min-height: 100px;
  padding: 30px 10%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer-col {
    width: 25%;
    padding: 20px 15px;
  }
  .footer-col h4 {
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    bottom: -10px;
    background-color: #0e3755ff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ebdecfff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ebdecfff;
    padding-left: 4px;
  }

  /*  iconos  */
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    padding-top: 11px;
    border-radius: 50%;
    color: #ebdecfff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
      text-align: center;
    }
    .footer-col h4 {
      margin-bottom: 20px;
    }
    .footer-col h4::before {
      height: 0;
    }
  }

  /*  olas  */
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }

  .wave#wave1 {
    z-index: 10;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 18s linear infinite;
  }

  .wave#wave2 {
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 18s linear infinite;
  }

  .wave#wave3 {
    z-index: 10;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 14s linear infinite;
  }

  .wave#wave4 {
    z-index: 9;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 14s linear infinite;
  }
}
@keyframes animateWaves {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animate {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}
