/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos de la navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

/* Estilos de la sección de héroe */
body {
  color: #fff;
}

.hero {
    background-image: url("surf1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  
.hero h1 {
  font-size: 300px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 100px;
}
