/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;
      position: relative;
      overflow: hidden;
      z-index: 1;
    }
    #services .cs-container {
      width: 100%;
      /* changes to 1280px at small desktop */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 40px - 64px */
      gap: clamp(2.5rem, 3.9vw, 4rem);
    }
    #services .cs-image-group {
      width: 100%;
      height: auto;
      margin: 0;
      position: relative;
    }
    #services .cs-picture {
      width: 100%;
      min-height: 20.5rem;
      display: block;
      position: relative;
    }
    #services .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #services .cs-floater {
      width: clamp(20.125rem, 40vw, 28.1875rem);
      height: clamp(20.1875rem, 40vw, 28.25rem);
      position: absolute;
      bottom: 0rem;
      z-index: 1;
      mix-blend-mode: soft-light;
    }
    #services .cs-content {
      text-align: left;
      width: 100%;
      max-width: 40.625rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: none;
    }
    #services .cs-title {
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
    }
    #services .cs-text {
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
    }
    #services .cs-faq-group {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
    }
    #services .cs-faq-item {
      list-style: none;
      width: 100%;
      background-color: transparent;
      border: 1px solid #e8e8e8;
      padding: 0;
      box-sizing: border-box;
      transition: border-bottom 0.3s;
    }
    #services .cs-faq-item.active .cs-indicator:before {
      transform: translate(-50%, -50%) rotate(360deg);
    }
    #services .cs-faq-item.active .cs-indicator:after {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    #services .cs-faq-item.active .cs-item-p {
      height: auto;
      padding-top: 1rem;
      opacity: 1;
      transform: scaleY(1);
    }
    #services .cs-faq-item:hover {
      cursor: pointer;
    }
    #services .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      width: 100%;
      padding: 1rem 1rem 0 1rem;
      border: none;
      background: transparent;
      color: var(--headerColor);
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
      position: relative;
      transition: background-color 0.3s, color 0.3s;
    }
    #services .cs-button:hover {
      cursor: pointer;
    }
    #services .cs-indicator {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      z-index: 1;
    }
    #services .cs-indicator:before {
      /* left line */
      content: '';
      width: 1rem;
      height: 0.125rem;
      background-color: #767676;
      opacity: 1;
      border-radius: 2px;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform .5s;
    }
    #services .cs-indicator:after {
      /* right line */
      content: '';
      width: 1rem;
      height: 0.125rem;
      background-color: #767676;
      opacity: 1;
      border-radius: 2px;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: transform .5s;
    }
    #services .cs-button-text {
      width: 90%;
      padding: 0;
      display: block;
    }
    #services .cs-item-p {
      font-size: 0.875rem;
      line-height: 1.5em;
      width: 100%;
      max-width: none;
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 1rem 1rem 1rem;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      position: relative;
      transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
    }
    #services .cs-icon {
      width: 2rem;
      height: 2rem;
      display: block;
    }
    #services .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      width: clamp(11.625rem, 23vw, 13.625rem);
      /* 28px - 40px */
      margin: clamp(1.75rem, 3.9vw, 2.5rem) 0 0 0;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      color: #fff;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #services .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: var(--secondaryLight);
      opacity: 1;
      /* add a border radius below this to round corners */
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #services .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services .cs-picture {
      height: 100%;
      min-width: 36.5rem;
      width: 48vw;
      right: 0;
      top: 0;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #services .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #services .cs-content {
      width: 55%;
    }
    #services .cs-image-group {
      width: 100%;
      max-width: 33.875rem;
    }
    #services .cs-picture {
      width: 100%;
      min-width: 100%;
    }
    #services .cs-floater {
      width: 28.1875rem;
      right: clamp(50%, 18vw, 75%);
      bottom: -6.25rem;
    }
  }
                                  