/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --primary: #ffc164ff; /* Hunyadi Yellow */
  --primaryLight: #0e3755ff; /* Prussian Blue */
  --secondary: #ebdecfff; /* Almond */
  --secondaryLight: #ba0025ff; /* Fire Brick */
  --headerColor: #60acb6ff; /* Moonstone */
  --bodyTextColor: #4e4b66; /* Body Text Color */
  --bodyTextColorWhite: #fafbfc; /* Body Text Color White */

  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

  --h1-font-size: 74px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --btn-font-size: 14px;
  --copyright-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --body-font-family: "Geist", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-family: "Geist", sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/GeistMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}





/* Estilos del Navbar, hace falta par las posiciones de las cards */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  color: #000000;
  text-decoration: none;
}

/* Estilos del calendario, hace falta para los logo-slide*/

.schedule-section {
  padding: 80px 0;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 24px;
  border-spacing: 10px;
}

th,
td {
  padding: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc;
}

th {
  background-color: #750d0d;
  color: #fff;
}

td {
  background-color: #fff;
  position: relative;
}

.table-background-image-wrap {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-overlay h3,
.section-overlay p {
  margin: 0;
}

.table-background-image-wrap:hover .section-overlay {
  opacity: 1;
}

.pop-background-image {
  background-color: #d3d3d3;
}

.rock-background-image {
  background-color: #a9a9a9;
}

.country-background-image {
  background-color: #808080;
}

.dj-background-image {
  background-color: #696969;
}

.free-styles-background-image {
  background-color: #000000;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
}
