body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("../../images/stock/vertical1.jpg");
  background-size: cover;
  background-position: center;
}

.event-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra */
  margin-bottom: 220px;
  margin-top: 120px;
}

.event-container h3.year {
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid #218bbb; /* Línea separadora */
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #218bbb;
}

.event-container .event {
  display: flex;
  border-radius: 10px;
  overflow: hidden; /* Evitar que las sombras se superpongan */
  padding: 1em;
}

.event .event-left {
  background: #218bbb; /* Fondo azul */
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.event .event-left .date {
  font-size: 36px;
  margin-bottom: 5px;
}

.event .event-left .month {
  font-size: 16px;
}

.event .event-right {
  flex: 1;
  padding: 20px;
  background-color: #fff; /* Fondo blanco */
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #218bbb;
  text-transform: uppercase;
}

.event .event-right .event-description {
  margin-bottom: 20px;
  color: #444; /* Color de texto más oscuro */
}

.event .event-right .event-timing {
  background: #218bbb; /* Fondo azul */
  color: #fff; /* Texto blanco */
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  margin-right: 8px;
}

@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    min-width: auto;
    border-radius: 10px 10px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    font-size: 24px;
  }
}

/* Estilos para el contenedor del video */
.video-container {
  max-width: 1200px;
  margin: 50px auto; /* Centramos el contenedor verticalmente */
  padding: 20px;
  border: 2px solid #ccc; /* Borde gris */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.644); /* Sombra suave */
  margin-bottom: 200px;
}

/* Estilos para el video */
video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilos para el título del video */
.video-title {
  text-align: center; /* Centramos horizontalmente */
  margin-bottom: 20px;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
  font-weight: bold;
}

.transcription-text {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
  font-weight: bold;
}
